
@model IEnumerable<DtdcCashCounter.EntityFr.Nondox>


<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<!-- Main content -->

<div class="col-sm-12 text-center">
    <h4>Air Rate Cargo</h4>
</div>

@using (Ajax.BeginForm("CashCounterNonDox", "RateMasterCash", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmEmp2", OnBegin = "onBegin", OnComplete = "onComplete" }))
{

    <input type="hidden" value="@ViewBag.companyid" name="comppid">


    foreach (var item in Model)
    {
        if (item.NoOfSlabN != null)
        {
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box-header">
                    <div class="col-sm-4">
                        <label>  @Html.RadioButtonFor(m => item.NoOfSlabN, 2) Slab 2</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabN, 3)  Slab 3</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabN, 4)  Slab 4</label>
                    </div>
                </div>
            </div>
            break;
        }
        else
        {
            <div class="col-sm-6">
                <div class="box-header">
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabN, 2, new { @checked = "checked" }) Slab 2</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabN, 3)  Slab 3</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabN, 4)  Slab 4</label>
                    </div>

                </div>
            </div>
            break;


        }

    }



    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <table class="table table-bordered table-striped" id="NonDoxTableAir">
        <thead>
            <tr class="upto-input">
                <th>
                    @*<h4>Sectors</h4>*@
                    @*<input type="hidden" name="hide" value="@ViewBag.Slabs1.AUptosl1" />*@
                </th>
                <th>
                    <label>Upto</label>
                    <input type="text" name="AUpto" value="@ViewBag.Slabs1.AUptosl1" />
                    <label>Kg</label>
                </th>
                <th class="slab2AirNon">
                    <label>Upto</label>
                    <input type="text" name="AUpto" value="@ViewBag.Slabs1.AUptosl2" />
                    <label>Kg</label>
                </th>
                <th class="slab3AirNon">
                    <label>Upto</label>
                    <input type="text" name="AUpto" value="@ViewBag.Slabs1.AUptosl3" />
                    <label>Kg</label>
                </th>
                <th>
                    <label>Addtional</label>
                    <input type="text" name="AUpto" value="@ViewBag.Slabs1.AUptosl4" />
                    <label>Kg</label>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="sectors">
                        @Html.DisplayFor(modelItem => item.Sector.Sector_Name)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Aslab1)
                    </td>
                    <td class="slab2AirNon">
                        @Html.EditorFor(modelItem => item.Aslab2)
                    </td>
                    <td class="slab3AirNon">
                        @Html.EditorFor(modelItem => item.Aslab3)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Aslab4)
                    </td>
                    <td class="hidden">
                        @Html.HiddenFor(modelItem => item.Non_ID)
                    </td>
                    <td class="hidden">
                        @Html.HiddenFor(modelItem => item.Sector_Id)
                    </td>


                </tr>
            }
        </tbody>

    </table>

    <div class="col-sm-12 text-center">
        <h4>Rate Surface Cargo</h4>
    </div>


    foreach (var item in Model)
    {
        if (item.NoOfSlabS != null)
        {
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box-header">
                    <div class="col-sm-4">
                        <label>  @Html.RadioButtonFor(m => item.NoOfSlabS, 2) Slab 2</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabS, 3)  Slab 3</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabS, 4)  Slab 4</label>
                    </div>
                </div>
            </div>
            break;
        }
        else
        {

            <div class="col-sm-6">
                <div class="box-header">
                    <div class="col-sm-4">
                        <label>  @Html.RadioButtonFor(m => item.NoOfSlabS, 2, new { @checked = "checked" }) Slab 2</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabS, 3)     Slab 3</label>
                    </div>
                    <div class="col-sm-4">
                        <label> @Html.RadioButtonFor(m => item.NoOfSlabS, 4)         Slab 4</label>
                    </div>
                </div>
            </div>
            break;

        }

    }

    <table class="table table-bordered table-striped" id="NonDoxTableSirf">
        <thead>
            <tr class="upto-input">
                <th>
                    @*<h4>Sectors</h4>*@
                    @*<input type="hidden" name="hide" value="@ViewBag.Slabs1.AUptosl1" />*@
                </th>
                <th>
                    <label>Upto</label>
                    <input type="text" name="SUpto" value="@ViewBag.Slabs1.SUptosl1" />
                    <label>Kg</label>
                </th>
                <th class="slab2SirfNon">
                    <label>Upto</label>
                    <input type="text" name="SUpto" value="@ViewBag.Slabs1.SUptosl2" />
                    <label>Kg</label>
                </th>
                <th class="slab3SirfNon">
                    <label>Upto</label>
                    <input type="text" name="SUpto" value="@ViewBag.Slabs1.SUptosl3" />
                    <label>Kg</label>
                </th>
                <th>
                    <label>
                        Addtional
                    </label>
                    <input type="text" name="SUpto" value="@ViewBag.Slabs1.SUptosl4" />
                    <label>Kg</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="sectors">
                        @Html.DisplayFor(modelItem => item.Sector.Sector_Name)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Sslab1)
                    </td>
                    <td class="slab2SirfNon">
                        @Html.EditorFor(modelItem => item.Sslab2)
                    </td>
                    <td class="slab3SirfNon">
                        @Html.EditorFor(modelItem => item.Sslab3)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.Sslab4)
                    </td>
                    @*<td class="hidden">
                            @Html.HiddenFor(modelItem => item.Non_ID)
                        </td>
                        <td class="hidden">
                            @Html.HiddenFor(modelItem => item.Sector_Id)
                        </td>*@
                </tr>
            }
        </tbody>

    </table>
    <div class="col-sm-12">
        <input class="btn bg-primary pull-right" type="submit" name="submit" value="Save" />
    </div>
}

<!-- /.box-body -->
@if (ViewBag.Message != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.Message');

});

    </script>

}

<script>
    $(document).ready(function () {


        var test =@ViewBag.NonDox[0].NoOfSlabN;

      //  alert(test);

        if (test == 3) {


            $('.slab2AirNon').show();

            $('.slab3AirNon').hide();


            $('#only').val(test);
        }
        else if (test == 4) {
            $('.slab2AirNon').show();
            $('.slab3AirNon').show();



            $('#only').val(test);
        }
        else if (test == 2) {
            $('.slab2AirNon').hide();
            $('.slab3AirNon').hide();



            $('#only').val(2);

        }





        $("input[name$='NoOfSlabN']").change(function () {

            var test =$(this).val();

            //alert(test);

            if (test == 3) {


                $('.slab2AirNon').show();

                $('.slab3AirNon').hide();


                $('#only').val(test);
            }
            else if (test == 4) {
                $('.slab2AirNon').show();
                $('.slab3AirNon').show();



                $('#only').val(test);
            }
            else if (test == 2) {
                $('.slab2AirNon').hide();
                $('.slab3AirNon').hide();



                $('#only').val(2);

            }

        });
    });
</script>

<script>
    $(document).ready(function () {


        var test =@ViewBag.NonDox[0].NoOfSlabS;

        if (test == 3) {


            $('.slab2SirfNon').show();

            $('.slab3SirfNon').hide();


            $('#only').val(test);
        }
        else if (test == 4) {
            $('.slab2SirfNon').show();
            $('.slab3SirfNon').show();



            $('#only').val(test);
        }
        else if (test == 2) {

            $('.slab2SirfNon').hide();
            $('.slab3SirfNon').hide();



            $('#only').val(2);

        }



        $("input[name$='NoOfSlabS']").change(function () {

            var test = $(this).val();

            //alert(test);

            if (test == 3) {


                $('.slab2SirfNon').show();

                $('.slab3SirfNon').hide();


                $('#only').val(test);
            }
            else if (test == 4) {
                $('.slab2SirfNon').show();
                $('.slab3SirfNon').show();



                $('#only').val(test);
            }
            else if (test == 2) {
                $('.slab2SirfNon').hide();
                $('.slab3SirfNon').hide();



                $('#only').val(2);

            }

        });
    });
</script>

<script type="text/javascript">
    function onBegin() {

        // Show the loader
        document.getElementById('overlayBlock').style.display = 'block';
    }

    function onComplete() {
        // Hide the loader
        document.getElementById('overlayBlock').style.display = 'none';
    }
</script>